[submodule "Lemon/vendor/spdlog"]
	path = Lemon/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Lemon/vendor/SDL"]
	path = Lemon/vendor/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "Lemon/vendor/magic_enum"]
	path = Lemon/vendor/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "Lemon/vendor/DirectXTK12"]
	path = Lemon/vendor/DirectXTK12
	url = https://github.com/microsoft/DirectXTK12.git
